footer {
  position: relative !important;
  left: 0rem !important;
  bottom: 0rem !important;
  width: 100% !important;
}

* {
  outline: none !important;
}

.color:hover {
  background-color: orange !important;
  color: white !important;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
